@media (max-width: 1024px) {
    .services {
        padding: 60px 0;

        // .services__text
        &__text {
            max-width: 696px;
        }
        // .services__items
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        // .services__item
        &__item {
            padding: 30px 32px 40px;
        }
    }
}

@media (max-width: 560px) {
    .services {
        padding: 40px 0;

        // .services__text
        &__text {
            max-width: 342px;
            margin-bottom: 24px;
        }
        // .services__items
        &__items {
            display: flex;
            overflow-x: auto;
        }
        // .services__item
        &__item {
            width: 250px;
            padding: 24px 16px 32px;
            flex-shrink: 0;
        }
        &__check-mark {
            width: 25px;
            height: 25px;
            margin-bottom: 12px;
        }

        // .services__item-description
        &__item-description {
            font-size: 12px;
        }
        &__decor-img {
            width: 25px;
            height: 25px;   
        }
    }
}