@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}
html a, html a:link, html a:visited, body a, body a:link, body a:visited {
  text-decoration: none;
}
html a:hover, body a:hover {
  /* color: inherit; */
  text-decoration: none;
}
html h1, html h2, html h3, html h4, html h5, html h6, html p, body h1, body h2, body h3, body h4, body h5, body h6, body p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
}
html ul, html ul li, body ul, body ul li {
  list-style: none;
}
html img, html svg, body img, body svg {
  display: block;
  max-width: 100%;
}
html button, body button {
  display: block;
  font-size: inherit;
  font-family: inherit;
  background: none;
}

.header__contacts-email::before, .header__contacts-phone::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  top: -3px;
}

html, body {
  font-family: "Nunito Sans", sans-serif;
  color: #222222;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* цвет фона полосы */
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc; /* цвет ползунка */
  border-radius: 5px; /* скругление углов ползунка */
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}
.logo__primary-text {
  text-transform: uppercase;
  font-size: 28px;
  color: #4F8FF0;
}

.button {
  font-family: "Nunito Sans", sans-serif;
  padding: 16px 24px;
  background-color: #4F8FF0;
  font-weight: 900;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease-in-out background-color;
}

.button:hover {
  padding: 14px 22px;
  background-color: #fff;
  border: 2px solid #4F8FF0;
  color: #4F8FF0;
}

.button--center {
  margin: 0 auto;
}

.button-2 {
  font-family: "Nunito Sans", sans-serif;
  padding: 16px 24px;
  background-color: #E6E6E6;
  font-weight: 900;
  cursor: pointer;
  color: #000;
  font-size: 14px;
  transition: 0.2s ease-in-out background-color;
}

.button-2:hover {
  padding: 14px 22px;
  background-color: #fff;
  border: 2px solid #E6E6E6;
}

.common-title {
  font-size: 28px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 37px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.common-title--primary-text {
  color: #4F8FF0;
}

.common-title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 50px;
  bottom: -10px;
  left: calc(50% - 25px);
  background-color: #4F8FF0;
}

.common-title--long {
  text-align: left;
}

.common-title--long::before {
  left: 0;
}

@media (max-width: 990px) {
  .container {
    max-width: 696px;
  }
  .logo {
    font-size: 15px;
  }
  .logo__primary-text {
    font-size: 22px;
  }
  .common-title {
    font-size: 24px;
  }
}
@media (max-width: 450px) {
  .common-title {
    font-size: 20px;
  }
}
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
}
.header__contacts-wrapper {
  height: 52px;
  background-color: #000;
}
.header__contacts-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  height: 52px;
}
.header__contacts {
  display: flex;
  column-gap: 20px;
}
.header__contacts-phone, .header__contacts-email {
  position: relative;
  padding-left: 28px;
  color: #fff;
}
.header__contacts-phone::before {
  background: url("../imgs/hedaer-phone.svg");
}
.header__contacts-email::before {
  background: url("../imgs/mail.svg");
}
.header__request-call-link {
  font-weight: bold;
  color: #4F8FF0;
}
.header__nav-wrapper {
  padding: 20px 0 28px;
  background-color: rgba(1, 1, 1, 0.7882352941);
}
.header__nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger-btn {
  display: none;
  cursor: pointer;
}
.header__close-btn {
  display: none;
  cursor: pointer;
}
.header__nav-list {
  display: flex;
  column-gap: 32px;
}
.header__nav-link {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  transition: 0.15s ease-in-out;
  position: relative;
}
.header__nav-link:hover {
  color: #4F8FF0;
}
.header__nav-link::after {
  content: "";
  width: 100%;
  left: 0;
  bottom: 2px;
  height: 1px;
  background-color: #4F8FF0;
  position: absolute;
  transform: scale(0);
  transition: 0.2s;
}
.header__nav-link:hover::after {
  transform: scale(1);
}

@media (max-width: 990px) {
  .header__contacts {
    column-gap: 16px;
  }
  .header__nav-wrapper {
    padding: 16px 0 19px;
    background-color: rgba(1, 1, 1, 0.7882352941);
  }
  .header__nav {
    position: fixed;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
    background-color: #222222;
    padding: 50px 25px;
  }
  .header__nav--active {
    transform: translateX(0);
  }
  .header__close-btn {
    display: block;
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .header__close-btn img {
    height: 35px;
    width: 35px;
  }
  .header__nav-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 24px;
  }
  .header__burger-btn {
    display: inline-block;
  }
}
@media (max-width: 450px) {
  .header__contacts-email {
    display: none;
  }
}
.banner {
  margin-top: 52px;
  height: 820px;
  background: url("../imgs/header-background.jpg") no-repeat center/cover;
}
.banner__inner {
  padding-top: 260px;
  text-align: center;
}
.banner__title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 8px;
}
.banner__title-primary {
  color: #4F8FF0;
  margin-top: 8px;
  font-size: 56px;
  font-weight: 800;
  display: block;
}
.banner__text {
  max-width: 1090px;
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 48px;
}

@media (max-width: 834px) {
  .banner {
    height: 529px;
  }
  .banner__inner {
    padding-top: 148px;
  }
  .banner__title {
    font-size: 24px;
  }
  .banner__title-primary {
    font-size: 50px;
  }
  .banner__text {
    font-size: 18px;
    margin-bottom: 46px;
  }
}
@media (max-width: 525px) {
  .banner {
    height: 486px;
  }
  .banner__inner {
    padding-top: 142px;
  }
  .banner__title {
    font-size: 18px;
  }
  .banner__title-primary {
    font-size: 30px;
  }
  .banner__text {
    font-size: 16px;
    margin-bottom: 32px;
  }
}
.services {
  padding: 80px 0;
  background-color: #F7F7F7;
}
.services .services__title-wrapper {
  text-align: center;
}
.services__text {
  margin: 0 auto;
  text-align: center;
  max-width: 920px;
  font-size: 16px;
  margin-bottom: 48px;
}
.services__items {
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.services__item {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  padding: 50px 32px 59px;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.services__item:hover {
  background-color: #4F8FF0;
  color: #fff;
}
.services__item:hover .services__check-mark {
  fill: #fff;
}
.services__check-mark {
  fill: #4F8FF0;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}
.services__decor-img {
  width: 35px;
  height: 35px;
}
.services__item-title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}
.services__item-description {
  font-size: 14px;
}

@media (max-width: 1024px) {
  .services {
    padding: 60px 0;
  }
  .services__text {
    max-width: 696px;
  }
  .services__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__item {
    padding: 30px 32px 40px;
  }
}
@media (max-width: 560px) {
  .services {
    padding: 40px 0;
  }
  .services__text {
    max-width: 342px;
    margin-bottom: 24px;
  }
  .services__items {
    display: flex;
    overflow-x: auto;
  }
  .services__item {
    width: 250px;
    padding: 24px 16px 32px;
    flex-shrink: 0;
  }
  .services__check-mark {
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
  }
  .services__item-description {
    font-size: 12px;
  }
  .services__decor-img {
    width: 25px;
    height: 25px;
  }
  .services__items::-webkit-scrollbar {
    height: 10px;
  }
  .services__items::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* цвет фона полосы */
  }
  .services__items::-webkit-scrollbar-thumb {
    background-color: #ccc; /* цвет ползунка */
    border-radius: 5px; /* скругление углов ползунка */
  }
}
.about {
  padding: 80px 0;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 64px;
}
.about__text {
  font-size: 16px;
  line-height: 1.5;
}
.about__text + .about__text {
  margin-top: 22px;
}
.about__button-wrapper {
  margin-top: 32px;
  display: flex;
  column-gap: 24px;
}
.about__img {
  flex-basis: 535px;
  height: auto;
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .about {
    padding: 60px 0;
  }
  .about__wrapper {
    column-gap: 0px;
  }
  .about__img {
    display: none;
  }
}
@media (max-width: 450px) {
  .about {
    padding: 40px 0;
  }
  .about__text {
    font-size: 14px;
  }
  .about__button-wrapper {
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
  }
  .about__img {
    display: none;
  }
}
.our-lawyers {
  padding: 80px 0;
  background-color: #F7F7F7;
}
.our-lawyers__title-wrapper {
  text-align: center;
}
.our-lawyers__text {
  max-width: 920px;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.our-lawyers__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  justify-content: space-between;
}
.our-lawyers__item {
  cursor: pointer;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;
  flex-basis: 312px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  overflow-y: hidden;
}
.our-lawyers__item-text-wrapper {
  text-align: center;
  padding: 24px 5px;
}
.our-lawyers__full-name-text {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.our-lawyers__job-title {
  font-size: 14px;
  font-weight: 300;
}
.our-lawyers__item-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #ffffff;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.our-lawyers__item:hover .our-lawyers__item-info {
  opacity: 1;
  transform: translateY(0);
}
.our-lawyers__item-info-text-wrapper {
  text-align: center;
  padding: 84px 20px;
}
.our-lawyers__info-text {
  margin: 40px 0;
  font-size: 14px;
  font-weight: 300;
}
.our-lawyers__info-experience {
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 990px) {
  .our-lawyers {
    padding: 60px 0;
  }
  .our-lawyers__text {
    max-width: 696px;
  }
  .our-lawyers__item {
    flex-basis: 300px;
  }
  .our-lawyers__items {
    padding: 1px;
    display: flex;
    overflow-x: auto;
    padding-bottom: 8px;
  }
  .our-lawyers__items::-webkit-scrollbar {
    height: 10px;
  }
  .our-lawyers__items::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* цвет фона полосы */
  }
  .our-lawyers__items::-webkit-scrollbar-thumb {
    background-color: #ccc; /* цвет ползунка */
    border-radius: 5px; /* скругление углов ползунка */
  }
}
@media (max-width: 450px) {
  .our-lawyers {
    padding: 40px 0;
  }
  .our-lawyers__text {
    max-width: 696px;
  }
  .our-lawyers__item {
    flex-basis: 235px;
    height: 348px;
  }
  .our-lawyers__item-info-text-wrapper {
    text-align: center;
    padding: 40px 20px;
  }
  .our-lawyers__info-text {
    margin: 10px 0;
    font-size: 14px;
  }
  .our-lawyers__info-experience {
    font-size: 12px;
    font-weight: 700;
  }
}
.reviews {
  padding: 80px 0;
  background: url("../imgs/reviews-bg.jpg") no-repeat center/cover;
}
.reviews__top {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  margin-bottom: 48px;
}
.reviews__items {
  display: flex;
  column-gap: 24px;
  margin-bottom: 32px;
}
.reviews__item {
  background-color: #fff;
  padding: 32px;
  box-shadow: 2px 2px 10px 0 rgba(33, 33, 33, 0.2588235294);
}
.reviews__item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.reviews__user-info {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.reviews__user-text p:nth-child(1) {
  margin-bottom: 4px;
}
.reviews__user-full-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}
.reviews__text {
  font-size: 14px;
  line-height: 1.5;
}
.reviews__button-wrapper {
  display: flex;
  column-gap: 24px;
}
.reviews__items::-webkit-scrollbar {
  height: 10px;
}
.reviews__items::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* цвет фона полосы */
}
.reviews__items::-webkit-scrollbar-thumb {
  background-color: #ccc; /* цвет ползунка */
  border-radius: 5px; /* скругление углов ползунка */
}

@media (max-width: 990px) {
  .reviews {
    padding: 60px 0;
  }
  .reviews__items {
    overflow-x: auto;
    padding: 1px;
    margin-bottom: 36px;
  }
  .reviews__item {
    flex-shrink: 0;
    flex-basis: 576px;
  }
}
@media (max-width: 625px) {
  .reviews {
    padding: 40px 0;
  }
  .reviews__top img {
    display: none;
  }
  .reviews__items {
    overflow-x: visible;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .reviews__item:nth-child(2) {
    display: none;
  }
}
@media (max-width: 425px) {
  .reviews__item {
    padding: 24px;
  }
  .reviews__user-img {
    height: 50px;
    width: 50px;
  }
  .reviews__user-full-name {
    font-size: 16px;
  }
  .reviews__user-info {
    column-gap: 16px;
  }
  .reviews__feather-img {
    display: none;
  }
  .reviews__button-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
  }
}
.additionally {
  padding: 80px 0;
}
.additionally__title-wrapper {
  text-align: center;
}
.additionally__text {
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  margin-bottom: 48px;
}
.additionally__items {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  overflow-x: auto;
}
.additionally__item {
  position: relative;
  cursor: pointer;
  flex-basis: 424px;
  flex-shrink: 0;
  padding-bottom: 24px;
}
.additionally__item-img-box {
  position: relative;
}
.additionally__item:hover .additionally__item-img-box::after, .additionally__item:hover .additionally__item-img-box::before {
  opacity: 1;
}
.additionally__item:hover .additionally__item-title {
  color: #4F8FF0;
}
.additionally__item-img {
  margin-bottom: 24px;
}
.additionally__item-img-box::before {
  transition: 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  display: block;
  z-index: 2;
  border-radius: 50%;
  background: url("../imgs/add-hocer.png");
  opacity: 0;
}
.additionally__item-img-box::after {
  transition: 0.2s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url("../imgs/hover-border.png") no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0;
}
.additionally__item-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 16px;
  transition: 0.2s ease-in-out;
}
.additionally__item-date {
  font-weight: 300;
  margin-bottom: 16px;
}
.additionally__item-text {
  font-size: 14px;
}

@media (max-width: 990px) {
  .additionally {
    padding: 60px 0;
  }
  .additionally__text {
    max-width: 696px;
    margin-bottom: 29px;
  }
  .additionally__item {
    flex-basis: 336px;
  }
  .additionally__items::-webkit-scrollbar {
    height: 10px;
  }
  .additionally__items::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* цвет фона полосы */
  }
  .additionally__items::-webkit-scrollbar-thumb {
    background-color: #ccc; /* цвет ползунка */
    border-radius: 5px; /* скругление углов ползунка */
  }
  .additionally__item-img {
    margin-bottom: 24px;
    height: 270px;
    object-fit: cover;
    object-position: center;
  }
  .additionally__item-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 16px;
    transition: 0.2s ease-in-out;
  }
}
@media (max-width: 450px) {
  .additionally {
    padding: 40px 0;
  }
  .additionally__items {
    margin-bottom: 60px;
  }
  .additionally__text {
    margin-bottom: 24px;
  }
  .additionally__item {
    flex-basis: 250px;
  }
  .additionally__item-img {
    margin-bottom: 16px;
    height: 200px;
  }
  .additionally__item-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 16px;
    transition: 0.2s ease-in-out;
  }
  .additionally__item-title {
    font-size: 14px;
  }
  .additionally__item-text {
    font-size: 12px;
  }
}
.footer {
  background-color: black;
}
.footer__wrapper {
  background-color: #222222;
  padding: 80px 0;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 48px;
  margin-bottom: 48px;
  border-bottom: 1px solid #8C8C8C;
}
.footer__content {
  display: flex;
}
.footer__contacts-item {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.footer__contacts-item + .footer__contacts-item {
  margin-top: 24px;
}
.footer__contacts-text {
  color: #8C8C8C;
}
.footer__contacts-addres {
  font-size: 16px;
  color: #ffffff;
}
.footer__nav {
  margin-left: auto;
  flex-basis: 312px;
}
.footer__nav-item + .footer__nav-item {
  margin-top: 16px;
}
.footer__nav-link {
  font-size: 14px;
  color: #fff;
  transition: 0.15s ease-in;
}
.footer__nav-link:hover {
  color: #4F8FF0;
}
.footer__lawaer {
  flex-basis: 424px;
  margin-left: 24px;
}
.footer__lawaer-text {
  margin-bottom: 24px;
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
}
.footer__lawaer-info {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 16px;
}
.footer__lawaer-fullname {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 4px;
}
.footer__lawaer-job-title {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.footer__top-text {
  font-size: 16px;
  max-width: 862px;
  color: #F8F5F4;
}
.footer__copyright {
  padding: 16px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px 30px;
}
.footer__copyright-text {
  text-align: center;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 1200px) {
  .footer__top-text {
    display: none;
  }
  .footer__nav {
    display: none;
  }
  .footer__content {
    justify-content: space-between;
    gap: 40px 20px;
    flex-wrap: wrap;
  }
  .footer__lawaer {
    margin-left: 0;
  }
}
@media (max-width: 990px) {
  .footer__wrapper {
    padding: 60px 0;
  }
  .footer__top {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #8C8C8C;
  }
}
@media (max-width: 834px) {
  .footer__contacts-img {
    height: 45px;
    width: 45px;
  }
  .footer__contacts-text {
    font-size: 12px;
  }
  .footer__contacts-addres {
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .footer__copyright {
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .footer__wrapper {
    padding: 40px 0;
  }
  .footer .logo {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=index.css.map */
