.additionally {
    padding: 80px 0;
    // .additionally__title-wrapper
    &__title-wrapper {
        text-align: center;
    }
    // .additionally__text
    &__text {
        max-width: 920px;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        margin-bottom: 48px;
    }
    // .additionally__items
    &__items {
        margin-bottom: 48px;
        display: flex;
        justify-content: space-between;
        column-gap: 24px;
        overflow-x: auto;
    }
    // .additionally__item
    &__item {
        position: relative;
        cursor: pointer;
        flex-basis: 424px;
        flex-shrink: 0;
        padding-bottom: 24px;
    }
    &__item-img-box {
        position: relative;
    }
    &__item:hover &__item-img-box::after, &__item:hover &__item-img-box::before {
        opacity: 1;
    }
    &__item:hover &__item-title {
        color: $accent-color;
    }
    &__item-img {
        margin-bottom: 24px;
    }
    &__item-img-box::before{
        transition: 0.2s ease-in-out;
        content: '';
        position: absolute;
        height: 40px;
        width: 40px;
        left: calc(50% - 20px);
        top: calc(50% - 20px);
        display: block;
        z-index: 2;
        border-radius: 50%;
        background: url('../imgs/add-hocer.png');
        opacity: 0;
    }
    &__item-img-box::after {
        transition: 0.2s ease-in-out;
        content: '';
        position: absolute;
        top: 0;
        left: 0;   
        width: 100%;
        height: 100%;
        display: block;
        background: url('../imgs/hover-border.png') no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 0;
    }
    // .additionally__item-title
    &__item-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 16px;
        transition: 0.2s ease-in-out;
    }
    // .additionally__item-date
    &__item-date {
        font-weight: 300;
        margin-bottom: 16px;
    }
    // .additionally__item-text
    &__item-text {
        font-size: 14px;
    }
}

